<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elaborate App</title>
  </head>
  <body>
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
        <dl>
            {{ form.hidden_tag() }}
            {{ render_field(form.nickname) }}
            {{ render_field(form.html) }}
            <input type="submit" value="Go">
        </dl>
    </form>
  </body>
</html>