<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elaborate App</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <!-- Context Menu -->
     <div class="context-menu">
      <div class="flex hover:bg-gray-100 py-1 px-2 rounded cursor-pointer">Click me :)</div>
     </div>
    <!-- FTOA, which is the only block which should always appear at the top of the page -->
    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
      <mstyle displaystyle="true" scriptlevel="0">
        <mrow data-mjx-texclass="ORD">
          <mtable rowspacing=".5em" columnspacing="1em" displaystyle="true">
            <mtr>
              <mtd>
                <mtext>Every univariate polynomial of positive degree&#xA0;</mtext>
                <mi>n</mi>
                <mtext>&#xA0;with complex coefficients can be factorized as&#xA0;</mtext>
              </mtd>
            </mtr>
            <mtr>
              <mtd>
                <mi>c</mi>
                <mo stretchy="false">(</mo>
                <mi>x</mi>
                <mo>&#x2212;</mo>
                <msub>
                  <mi>r</mi>
                  <mn>1</mn>
                </msub>
                <mo stretchy="false">)</mo>
                <mo stretchy="false">(</mo>
                <mi>x</mi>
                <mo>&#x2212;</mo>
                <msub>
                  <mi>r</mi>
                  <mn>2</mn>
                </msub>
                <mo stretchy="false">)</mo>
                <mo>&#x2026;</mo>
                <mo stretchy="false">(</mo>
                <mi>x</mi>
                <mo>&#x2212;</mo>
                <msub>
                  <mi>r</mi>
                  <mi>n</mi>
                </msub>
                <mo stretchy="false">)</mo>
              </mtd>
            </mtr>
            <mtr>
              <mtd>
                <mtext>where&#xA0;</mtext>
                <mi>c</mi>
                <mo>,</mo>
                <msub>
                  <mi>r</mi>
                  <mn>1</mn>
                </msub>
                <mo>,</mo>
                <msub>
                  <mi>r</mi>
                  <mn>2</mn>
                </msub>
                <mo>,</mo>
                <mo>&#x2026;</mo>
                <msub>
                  <mi>r</mi>
                  <mi>n</mi>
                </msub>
                <mtext>&#xA0;are complex numbers</mtext>
              </mtd>
            </mtr>
          </mtable>
        </mrow>
      </mstyle>
    </math>
    <hr>
    {% for cont in content %}
    {{ cont.html|safe }}
    <hr>
    {% endfor %}
  </body>
  <script src="static/base.js"></script>
</html>